<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmy.laosiji">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/laosiji_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/laosiji_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.WorkSpaceActivity"
            android:theme="@style/AppTheme.toDarwer" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.zmy.laosiji.Utils.GlideModuleSetting"
            android:value="GlideModule" />

        <activity
            android:name=".Activity.ThemeNightActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.CustomViewActivity" />
        <activity android:name=".Activity.ByclerViewActivity" />
        <activity android:name=".Activity.MenuActivity" />
        <activity android:name=".Activity.TranslateActivity" />
        <activity android:name=".Activity.MeizhiItemActivity" />
        <activity
            android:name=".Activity.MatialDesignActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".Activity.TransitionActivity" />
        <activity android:name=".Activity.ScrollActivity" />
        <activity
            android:name=".Activity.TransitionToActivity"
            android:theme="@style/Translucent" />
    </application>

</manifest>