<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmy.laosiji">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/laosiji_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/laosiji_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WorkSpaceActivity"
            android:theme="@style/AppTheme.toDarwer" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ThemeNightActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.ByclerViewActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.TranslateActivity" />
        <activity android:name=".activity.MeizhiItemActivity" />
        <activity
            android:name=".activity.MatialDesignActivity"
            android:theme="@style/Translucent" />
        <activity android:name=".activity.TransitionActivity" />
        <activity android:name=".activity.ScrollActivity" />
        <activity
            android:name=".activity.TransitionToActivity"
            android:theme="@style/Translucent" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service android:name=".service.MediaService" />

        <activity android:name=".activity.AIDLActivity" />
        <activity android:name=".activity.MusicActivity" />
        <activity android:name=".activity.PermissionActivity"></activity>
    </application>

</manifest>